<p>If you have forgotten your password, you can request password reset instructions using your login email.</p>

<%= form action: rodauth.reset_password_request_path, method: :post, class: "md:max-w-xl" do |f| %>
  <%= f.inputs do %>
    <%= f.input :email, name: rodauth.login_param, label: "Email", autocomplete: "email", value: rodauth.param_or_nil(rodauth.login_param), error: rodauth.field_error(rodauth.login_param), required: true %>
  <% end %>

  <%= f.inputs inputs_wrapper: :sidebyside_actions, wrapper: :default do %>
    <%= f.button rodauth.reset_password_request_button %>
  <% end %>
<% end %>
