<%= form @form, { method: :post, action: "/dashboard/repository/#{@form.attributes[:id]}/edit", class: "space-y-8 md:max-w-prose" }, { config: :sidebyside } do |f| %>
  <%= f.input :password, type: :password, label: "Reset Admin Password" %>

  <%= f.inputs inputs_wrapper: :sidebyside_actions, wrapper: :default do %>
    <a href="/dashboard/repository/<%= @form.attributes[:id] %>/delete">Delete</a>

    <%= f.button "Update" %>
  <% end %>
<% end %>

