<% if @repository_info %>
  <%= cell(Cells::Card, nil, title: "Repository Information", icon: { icon: "thumbs-up", color: "text-blue-500" }).call do %>
    <p class="mb-2">
      Your repository has been created, however please remember that since
      Fossil is an all-in-one solution and Bones only handles creating and managing
      hosted repositories but does not have control over a Fossil's permissions,
      you are required to go in and lock it down as you see fit.
    </p>

    <p class="mb-2">
      The created superuser in your new Fossil repository is the same as your
      username, <code><%= @repository_info[:username] %></code> and the password is
      <code><%= @repository_info[:password] %></code>. We'd recommend you go in
      and change this during setup.
    </p>

    <p><%= cell(Cells::RepositoryInfo, @repository_info).call %></p>
  <% end %>
<% end %>

<% if @repositories.any? %>
  <% @repositories.each do |repository| %>
    <div class="repository-row">
      <div class="main">
        <a href="<%= repository.url %>">
          <%= repository.project_name %>
        </a>

        <a href="<%= repository.url %>">
          <small><%= repository.namespaced_name %></small>
        </a>

        <p><%= repository.description || "No description available ..." %></p>
      </div>

      <div class="actions">
        <a href="/dashboard/repository/<%= repository[:id] %>/edit">Edit</a>
      </div>
    </div>
  <% end %>
<% else %>
  <%= cell(Cells::HeroSplit, nil, undraw: "code_thinking_1jeh").call do |c| %>
    <%= c.title "It's Empty!" %>
    <%= c.subtitle "No Repositories Yet" %>

    <p><a href="/dashboard/repository/create">Create a repository</a> to get started!</p>
  <% end %>
<% end %>
