<% if @repository_info %>
  <%= cell(Cells::Card, nil, title: "Repository Information", icon: { icon: "thumbs-up", color: "text-blue-500" }).call do %>
    <p class="mb-2">
      Your repository has been created, however please remember that since
      Fossil is an all-in-one solution and Bones only handles creating and managing
      hosted repositories but does not have control over a Fossil's permissions,
      you are required to go in and lock it down as you see fit.
    </p>

    <p class="mb-2">
      The created superuser in your new Fossil repository is the same as your
      username, <code><%= @repository_info[:username] %></code> and the password is
      <code><%= @repository_info[:password] %></code>. We'd recommend you go in
      and change this during setup.
    </p>

    <p><%= cell(Cells::RepositoryInfo, @repository_info).call %></p>
  <% end %>
<% end %>

<% if @repositories.any? %>
  <% @repositories.each do |repository| %>
    <div class="flex flex-row py-6 mb-2 border-b border-gray-200">
      <div class="flex flex-col flex-grow">
        <a href="<%= repository.url %>" class="">
          <%= repository.project_name %>
        </a>

        <a href="<%= repository.url %>" class="text-gray-500 font-medium leading-tight text-sm">
          <%= repository.namespaced_name %>
        </a>

        <p class="mt-2"><%= repository.description || "No description available ..." %></p>
      </div>

      <div class="">
        <a href="/dashboard/repository/<%= repository[:id] %>/edit" class="font-semibold">Edit</a>
      </div>
    </div>
  <% end %>
<% else %>
  <%= cell(Cells::HeroSplit, nil, undraw: "code_thinking_1jeh").call do |c| %>
    <%= c.title "It's Empty!" %>
    <%= c.subtitle "No Repositories Yet" %>

    <p>Ready to get started?</p>
    <p><a href="/dashboard/repository/create" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-steelblue-600 hover:bg-steelblue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-steelblue-500">Create a repository</a></p>
  <% end %>
<% end %>
