<ul>
<% @repositories.each do |repository| %>
  <li>
    <a href="/user/<%= DB[:accounts].where(id: rodauth.session_value).get(:username) %>/repository/<%= repository[:name] %>">
      <%= repository[:name] %>
    </a>
    -
    <a href="/you/repository/<%= repository[:id] %>/edit">Edit</a>
    |
    <a href="/you/repository/delete/<%= repository[:id] %>">Delete</a>
  </li>
<% end %>
</ul>
