<div class="w-full bg-cover border-t-4 border-steelblue-600 h-screen flex flex-col" style="background-image: url('/landing_page_bg.jpg');">
  <header class="content px-8 py-2">
    <nav class="flex items-center justify-between">
      <%= render :_logo %>
    </nav>
  </header>

  <div class="body mt-20 mx-8">
    <div class="md:flex items-center justify-between">
      <div class="w-full md:w-1/2 mr-auto">
        <h2 class=" text-2xl font-bold text-gray-800 tracking-wide">Hello</h2>
        <p class="text-gray-800">
          Bones is a light weight, no-fuss Fossil-SCM host.
        </p>
        <span class="text-gray-800">New Around Here?<a href="/account/create" class="text-palevioletred-600 text-lg ml-2 font-bold">Sign Up!</a></span>
      </div>

      <div class="w-full md:max-w-md mt-6">
        <div class="card bg-white shadow-md rounded-lg px-4 py-4 mb-6 ">
          <% form action: "/account/login", method: "post" do |f| %>
            <div class="flex items-center justify-center">
              <h2 class="text-2xl font-bold tracking-wide">Welcome Back</h2> 
            </div>
            <h2 class="text-xl text-center font-semibold text-gray-800 mb-2">Log In</h2>
            <%= f.input :text, name: :login, placeholder: "Email Address", class: "w-full" %>
            <%= f.input :password, name: :password, placeholder: "Password", class: "w-full" %>
            <div class="flex items-center justify-between">
              <a href="/account/reset-password-request" class="text-gray-600 hover:text-gray-800">Forget Password?</a>
              <%= f.button value: "Log In", class: "bg-brand text-gray-200 px-2 py-1 rounded" %>
            </div>
          <% end %>
        </div>

        <%= render :_flashes %>
      </div>
    </div>
  </div>

  <div class="flex-grow"></div>

  <footer class="o-footer__container">
    <div class="m-footer__content">
      <p class="a-footer__text">
      © Joshua Ashby 2020 - <a href="/credits">Credits</a>
      |
      <span>Photo by <a href="https://unsplash.com/@bmeliti">Brett Meliti</a></span>
      |
      <a href="https://thenounproject.com/term/dinosaur-skull/347287/">dinosaur skull by Erik Kuroow</a>
      </p>
    </div>
  </footer>
</div>
