<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bones Fossil SCM Hosting</title>

    <%#<link rel="stylesheet" href="/dark.min.css" />%>

    <%= content_for :head %>
  </head>

  <body>
    <nav>
      <ul>
        <% if rodauth.logged_in? %>
          <li><%= DB[:accounts].where(:id=>rodauth.session_value).get(:email) %></li>
          <li><a href="/user">Dashboard</a></li>
          <li><a href="/user/repository/create">Create Repository</a></li>
          <li><a href="/account">Account</a></li>
          <li><a href="/account/logout">Logout</a></li>
        <% else %>
          <li><a href="/account/login">Login</a></li>
        <% end %>
      </ul>
    </nav>

    <% flash.each do |key, message| %>
      <q><%= key %>: <%= message %></q>
    <% end %>

    <%= yield %>
  </body>
</html>
