<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Bones Fossil SCM Hosting</title>

  <link rel="stylesheet" href="/styles.css" />

  <script type="module" src="/alpine.min.js"></script>
  <script nomodule src="/alpine-ie11.min.js" defer></script>

  <%= content_for :head %>
</head>

<body class="o-body__container">
  <aside class="o-sidebar__container">
    <div class="m-sidebar__header">
      <%= render :_logo %>
    </div>
    <div class="m-sidebar__content o-sidebar-menu__container">
      <ul class="m-sidebar-menu__list -grow">
        <%= render :_sidebar_header, locals: { header: "Repositories" } %>
        <li class="a-sidebar-menu__list-item">
          <a href="/dashboard" class="o-menu-link__container <% if shared[:breadcrumbs].last == "Dashboard" %>-active<% end %>">
            <span class="m-menu-link__icon -purple">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            </span>
            <span class="a-menu-link__title">Dashboard</span>
          </a>
        </li>
        <%#<li class="a-sidebar-menu__list-item">%>
          <%#<a href="/dashboard" class="o-menu_link__container">%>
            <%#<span class="m-menu-link__icon">%>
              <%#<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>%>

            <%#</span>%>
            <%#<span class="a-menu_link__title">Private</span>%>
            <%#<span%>
              <%#class="flex items-center justify-center text-xs text-red-500 font-semibold bg-red-100 h-6 px-2 rounded-full ml-auto"%>
            <%#>10</span>%>
          <%#</a>%>
        <%#</li>%>
        <li class="a-sidebar-menu__list-item">
          <a href="/dashboard/repository/create" class="o-menu-link__container <% if shared[:breadcrumbs].last == "Create Repository" %>-active<% end %>">
            <span class="m-menu-link__icon -green">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>

            </span>
            <span class="a-menu-link__title">Create Repository</span>
          </a>
        </li>
        <li class="a-sidebar-menu__list-item">
          <a href="/dashboard/repository/clone" class="o-menu-link__container <% if shared[:breadcrumbs].last == "Clone Repository" %>-active<% end %>">
            <span class="m-menu-link__icon -green">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>
            </span>
            <span class="a-menu-link__title">Clone Repository</span>
          </a>
        </li>
        <%= render :_sidebar_header, locals: { header: "Account" } %>
        <li class="a-sidebar-menu__list-item">
          <a href="/account" class="o-menu-link__container <% if shared[:breadcrumbs].include? "Account" %>-active<% end %>">
            <span class="m-menu-link__icon -gray">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                <path d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
              </svg>
            </span>
            <span class="a-menu-link__title">Profile</span>
          </a>
        </li>
      </ul>
      <ul class="m-sidebar-menu__list">
        <li class="a-sidebar-menu__list-item o-account-info__item">
          <span class="m-account-info__container">
            <span class="a-account-info__username"><%= shared[:account][:username] %></span>
            <span class="a-account-info__email"><%= shared[:account][:email] %></span>
          </span>
        </li>
        <%#<li class="a-sidebar-menu__list-item">%>
          <%#<form method="post" action="/account/logout">%>
            <%#<%= rodauth.csrf_tag %>%>
            <%#<div class="o-menu-link__container">%>
            <%#<span class="m-menu-link__icon -red">%>
              <%#<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>%>
            <%#</span>%>
            <%#<buttom type="submit" class="a-menu-link__title">Logout</submit>%>
            <%#</div>%>
          <%#</form>%>
        <%#</li>%>
        <li class="a-sidebar-menu__list-item">
          <a href="/account/logout" class="o-menu-link__container">
            <span class="m-menu-link__icon -red">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
            </span>
            <span class="a-menu-link__title">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <main class="o-main__container">
    <%#= render :_header_content %>

    <div class="o-content__container">
      <h1 class="a-content__header"><%= shared[:breadcrumbs].last %></h1>

      <div class="m-content__body">
        <%= render :_flashes %>

        <%= yield %>
      </div>
    </div>

    <footer class="o-footer__container">
      <div class="m-footer__content">
        <p class="a-footer__text">
        © Joshua Ashby 2020 - <a href="/credits">Credits</a>
        |
        <a href="https://thenounproject.com/term/dinosaur-skull/347287/">dinosaur skull by Erik Kuroow</a>
        </p>
      </div>
    </footer>
  </main>
</body>
</html>
