<% if flash["repository_id"] %>
  <%|= cell(Cells::Card, nil, title: "Repository Information", icon: { icon: "thumbs-up", color: "blue" }).call do %>
    <p>
      Your repository has been created, however please remember that since
      Fossil is an all-in-one solution and Bones only handles creating and managing
      hosted repositories but does not have control over a Fossil's permissions,
      you are required to go in and lock it down as you see fit.
    </p>

    <p>
      The created superuser in your new Fossil repository is the same as your
      username, <code><%= shared[:account][:username] %></code> and the password is
      <code><%= flash["repository_password"] %></code>. We'd recommend you go in
      and change this during setup.
    </p>

    <p>
      <% @repositories.find { _1[:id] == flash["repository_id"] }&.tap do |repository| %>
        <strong>URL:</strong> <a href="<%= CONFIG["domain"] %>/user/<%= shared[:account][:username] %>/repository/<%= repository[:name] %>"><code><%= CONFIG["domain"] %>/user/<%= shared[:account][:username] %>/repository/<%= repository[:name] %></code></a><br />
        <strong>User:</strong> <code><%= shared[:account][:username] %></code><br />
        <strong>Password:</strong> <code><%= flash["repository_password"] %></code>
      <% end %>
    </p>
  <%| end %>
<% end %>
