<%= cell(Cells::HeroSplit, nil, undraw: "fixing_bugs_w7gi").call do |c| %>
  <%= c.title @exception_code %>
  <%= c.subtitle "That's not gone well, has it?" %>

  <% if ENV["RACK_ENV"] != "production" %>
    <p class="mb-2"><%= h @exception.class %></p>
    <p><%= h @exception.message %></p>
  <% end %>
<% end %>

<% if ENV["RACK_ENV"] != "production" %>
  <details>
    <summary class="text-2xl leading-normal mb-8 md:text-3xl">Backtrace</summary>
    <pre class="text-xs"><code><% @exception.backtrace.each do |line| %><%= h line %>
  <% end %></code></pre>
  </details>
  <details>
    <summary class="text-2xl leading-normal mb-8 md:text-3xl">View Variables</summary>
    <ul>
      <% instance_variables.each do |variable| %>
        <li><code><%= variable %></code></li>
    <% end %>
    </ul>
  </details>
  <details>
    <summary class="text-2xl leading-normal mb-8 md:text-3xl">Rack Env</summary>
    <table>
      <thead>
      </thead>
      <tbody>
        <% env.each do |(key, value)| %>
          <tr>
            <td><%= key %></td>
            <td><%= h value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </details>
<% end %>
