<div class="o-split-hero__container">
  <div class="o-split-hero__hero">
    <div class="m-split-hero__split">
      <h1 class="a-split-hero__title"><%= @exception_code %></h1>
      <h2 class="a-split-hero__subtitle">That's not gone well, has it?</h2>

      <% if ENV["RACK_ENV"] != "production" %>
        <p class="a-split-hero__content"><%= h @exception.class %></p>
        <p class="a-split-hero__content"><%= h @exception.message %></p>
      <% end %>
    </div>

    <div class="m-split-hero__split"><%= undraw_svg "fixing_bugs_w7gi" %></div>
  </div>

  <% if ENV["RACK_ENV"] != "production" %>
  <details>
    <summary class="a-split-hero__subtitle">Backtrace</summary>
    <pre class="text-xs"><code><% @exception.backtrace.each do |line| %><%= h line %>
<% end %></code></pre>
  </details>
  <details>
    <summary class="a-split-hero__subtitle">View Variables</summary>
    <ul>
      <% instance_variables.each do |variable| %>
        <li><code><%= variable %></code></li>
    <% end %>
    </ul>
  </details>
  <details>
    <summary class="a-split-hero__subtitle">Rack Env</summary>
    <table>
      <thead>
      </thead>
      <tbody>
        <% env.each do |(key, value)| %>
          <tr>
            <td><%= key %></td>
            <td><%= h value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </details>
  <% end %>
</div>
