<div class="o-layout-page-header__container -landing" style="background-image: url('/landing_page_bg.jpg');">
  <div>
    <header class="o-navbar__container">
      <nav class="m-navbar__holder">
        <%= render :_logo %>
      </nav>
    </header>
  </div>

  <div class="o-landing-page">
    <div class="o-landing-page__container">
      <div class="m-landing-page__copy-holder">
        <h2 class="a-landing-page__copy-title">Hello</h2>
        <p class="a-landing-page__copy-body">
          Bones is a light weight, no-fuss Fossil-SCM host.
        </p>
        <% if Features.enabled? :sign_up %>
          <span class="a-landing-page__copy-cta">New Around Here?<a href="/account/create" class="a-landing-page__cta-link">Sign Up!</a></span>
        <% else %>
          <span class="a-landing-page__copy-cta">Bones is currently in a limited private alpha while we get things setup, but check back soon for more news on a public launch!</a></span>
        <% end %>
      </div>

      <div class="o-landing-page__signin-holder">
        <div class="o-signin-card">
          <% form action: "/account/login", method: "post" do |f| %>
            <div class="m-centered__container">
              <h2 class="a-signin-card__welcome">Welcome Back</h2> 
            </div>
            <h3 class="a-signin-card__sub">Log In</h3>
            <%= f.input :text, name: :login, placeholder: "Email Address", class: "w-full" %>
            <%= f.input :password, name: :password, placeholder: "Password", class: "w-full" %>
            <div class="m-signin-card__actions">
              <a href="/account/reset-password-request" class="a-signin-card__link">Forget Password?</a>
              <%= f.button value: "Log In" %>
            </div>
          <% end %>
        </div>

        <%= cell(Cells::Flashes, flash).render :list %>
      </div>
    </div>
  </div>

  <div class="flex-grow"></div>

  <footer class="px-4 py-6">
      <p class="text-sm text-gray-600 text-center">
      © Joshua Ashby 2020 - <a href="/credits">Credits</a>
      |
      <span>Photo by <a href="https://unsplash.com/@bmeliti">Brett Meliti</a></span>
      |
      <a href="https://thenounproject.com/term/dinosaur-skull/347287/">dinosaur skull by Erik Kuroow</a>
      </p>
  </footer>
</div>
