<!DOCTYPE html>
<html lang="en">
<%= render :_head %>

<body class="flex flex-col min-h-screen bg-gray-100 text-gray-800">
  <div x-data="{ open: false }">
    <div class="w-full border-t-4 border-steelblue-600 flex flex-col lg:hidden">
      <header class="flex flex-col px-8 py-2 flex-grow bg-brand">
        <nav class="flex items-center justify-between">
          <%= render :_logo %>

          <button @click="open = true" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-insest focus:ring-white" aria-expanded="false">
            <span class="sr-only">Open main menu</span>

            <%= feather_svg "menu", class: "block h-6 w-6", ":class": "{ 'hidden': open }" %>
            <%= feather_svg "x", class: "block h-6 w-6", ":class": "{ 'hidden': !open }" %>
          </button>
        </nav>
      </header>
    </div>

    <aside class="hidden lg:flex flex-col absolute lg:fixed lg:h-screen w-full lg:w-64 bg-brand transform" :class="{ 'hidden': !open }" @click.away="open = false">
      <div class="hidden lg:flex items-center justify-center py-4 pt-10">
        <%= render :_logo %>
      </div>

      <div class="flex flex-col flex-grow pb-10 pl-4">
        <ul class="flex flex-col flex-grow w-full">
          <%= cell Cells::Sidebar::Header, title: "Repositories" %>

          <%= cell Cells::Sidebar::Link, href: "/dashboard", title: "Dashboard", icon: "home", icon_color: "-purple", active: shared[:breadcrumbs].last == "Dashboard" %>
          <%= cell Cells::Sidebar::Link, href: "/dashboard/repository/create", title: "Create Repository", icon: "plus", icon_color: "-green", active: shared[:breadcrumbs].last == "Create Repository" %>
          <%= cell Cells::Sidebar::Link, href: "/dashboard/repository/clone", title: "Clone Repository", icon: "copy", icon_color: "-green", active: shared[:breadcrumbs].last == "Clone Repository" %>

          <%= cell Cells::Sidebar::Header, title: "Account" %>

          <%= cell Cells::Sidebar::Link, href: "/account", title: "Account", icon: "user", icon_color: "-grey", active: shared[:breadcrumbs].include?("Account") %>
        </ul>

        <ul class="flex flex-col">
          <%= cell(Cells::Sidebar::Item).show do %>
            <span class="flex flex-col m-2">
              <span class="text-palevioletred-400 font-semibold tracking-wide leading-none"><%= shared[:account][:username] %></span>
              <span class="text-gray-500 text-xs leading-none mt-1"><%= shared[:account][:email] %></span>
            </span>
          <% end %>

          <%= cell(Cells::Sidebar::Item).show do %>
            <form method="post" action="/account/logout">
              <%= rodauth.csrf_tag("/account/logout") %>

              <button type="submit" class="o-menu-link__container w-full rounded-r-none bg-transparent border-0 p-0 appearance-none">
                <span class="m-menu-link__icon -red"><%= feather_svg "log-out" %></span>
                <span class="a-menu-link__title justify-self-start flex">Logout</span>
              </button>
            </form>
          <% end %>
        </ul>
      </div>
    </aside>
  </div>

  <main class="flex flex-col flex-grow ml-0 lg:ml-64">
    <%#= render :_header_content %>

    <div class="flex flex-col flex-grow m-4">
      <h1 class="font-bold text-2xl text-gray-800"><%= shared[:breadcrumbs].last %></h1>

      <div class="flex flex-col flex-grow bg-white rounded mt-4 p-8 shadow -mx-4 sm:mx-0">
        <% if flash.any? %>
          <%# TODO: Move this logic into a cell that conditionally renders the flash container %>
          <div class="w-1/2 flex items-center mx-auto">
            <%= cell(Cells::Flashes, flash).render :list %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>

    <%= render :_footer %>
  </main>
</body>
</html>
