<!DOCTYPE html>
<html lang="en">
<%= render :_head %>

<body class="flex flex-col min-h-screen bg-gray-100 text-gray-800">
  <div class="o-layout-page-header__container">
    <header class="o-navbar__container -blue">
      <nav class="m-navbar__holder">
        <%= render :_logo %>

        <% unless rodauth.logged_in? %>
        <div class="m-navbar__links">
          <% if Features.enabled? :sign_up %>
            <a href="/account/create" class="a-navbar__link">Sign up</a>
          <% end %>
          <a href="/account/login" class="a-navbar__link -bordered-blue">Log in</a>
        </div>
        <% end %>
      </nav>
    </header>
  </div>

  <div class="a-layout-centered__spacer"></div>

  <div class="mx-auto">
    <%= cell(Cells::Flashes, flash).render :list %>

    <%= yield %>
  </div>

  <div class="flex-grow"></div>

  <%= render :_footer %>
</body>
</html>
