<!DOCTYPE html>
<html lang="en">
<%= render :_head %>

<body class="flex flex-col min-h-screen bg-gray-100 text-gray-800">

  <div class="w-full border-t-4 border-steelblue-600 flex flex-col">
    <header class="flex flex-col px-8 py-2 flex-grow bg-brand">
      <nav class="flex items-center justify-between">
        <%= render :_logo %>

        <% unless rodauth.logged_in? %>
        <div class="flex items-center">
          <% if Features.enabled? :sign_up %>
            <a href="/account/create" class="mx-1 py-2 px-3 rounded border-2 border-transparent text-steelblue-50 hover:border-steelblue-300">Sign up</a>
          <% end %>
          <a href="/account/login" class="mx-1 py-2 px-3 rounded border-2 border-transparent border-steelblue-600 text-steelblue-50 hover:border-steelblue-300">Log in</a>
        </div>
        <% end %>
      </nav>
    </header>
  </div>

  <div class="h-6"></div>

  <div class="mx-auto">
    <%= cell(Cells::Flashes, flash).render :list %>

    <%= yield %>
  </div>

  <div class="flex-grow"></div>

  <%= render :_footer %>
</body>
</html>
