<!DOCTYPE html>
<html lang="en">
<%= render :_head %>

<body class="flex flex-col min-h-screen bg-gray-100 text-gray-800">

  <aside class="absolute md:fixed md:h-screen w-full md:w-64 flex md:flex flex-col bg-brand transform" x-data="{ open: false }" :class="{ 'hidden': !open }" @nav-toggle.window="open = !open" @click.away="open = false">
    <div class="flex items-center justify-center py-4 pt-10" <%= render :_logo %></div>

    <div class="flex flex-col flex-grow pb-10 pl-4">
      <ul class="flex flex-col flex-grow w-full">
        <%= cell Cells::Sidebar::Header, title: "Repositories" %>

        <%= cell Cells::Sidebar::Link, href: "/dashboard", title: "Dashboard", icon: "home", icon_color: "-purple", active: shared[:breadcrumbs].last == "Dashboard" %>
        <%= cell Cells::Sidebar::Link, href: "/dashboard/repository/create", title: "Create Repository", icon: "plus", icon_color: "-green", active: shared[:breadcrumbs].last == "Create Repository" %>
        <%= cell Cells::Sidebar::Link, href: "/dashboard/repository/clone", title: "Clone Repository", icon: "copy", icon_color: "-green", active: shared[:breadcrumbs].last == "Clone Repository" %>

        <%= cell Cells::Sidebar::Header, title: "Account" %>

        <%= cell Cells::Sidebar::Link, href: "/account", title: "Account", icon: "user", icon_color: "-grey", active: shared[:breadcrumbs].include?("Account") %>
      </ul>

      <ul class="flex flex-col">
        <li class="a-sidebar-menu__list-item o-account-info__item">
          <span class="m-account-info__container">
            <span class="a-account-info__username"><%= shared[:account][:username] %></span>
            <span class="a-account-info__email"><%= shared[:account][:email] %></span>
          </span>
        </li>

        <li class="a-sidebar-menu__list-item">
          <form method="post" action="/account/logout">
            <%= rodauth.csrf_tag("/account/logout") %>

            <button type="submit" class="o-menu-link__container m-menu-link__button">
              <span class="m-menu-link__icon -red"><%= feather_svg "log-out" %></span>
              <span class="a-menu-link__title a-menu_link__button-text">Logout</span>
            </button>
          </form>
        </li>
      </ul>
    </div>
  </aside>

  <main class="o-main__container">
    <button class="md:hidden" x-data @click="$dispatch('nav-toggle')">Menu</button>

    <%#= render :_header_content %>

    <div class="o-content__container">
      <h1 class="a-content__header"><%= shared[:breadcrumbs].last %></h1>


      <div class="m-content__body">
        <div class="a-content__flashes">
          <%= cell(Cells::Flashes, flash).render :list %>
        </div>

        <%= yield %>
      </div>
    </div>

    <%= render :_footer %>
  </main>
</body>
</html>
